*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.borderBottomBlack{
    border-bottom: solid 3px black;
}
.main{
    height: 90vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carritoCompras{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.iconoMenu{
    position: relative;
    right: 20px;
    z-index: 10;
    padding: 5px;
}
.iconoMenu2{
    width: 40px;
    cursor: pointer;
}
.iconoNotificacion{
    width: 20px;
    cursor: pointer;
    position: absolute;
    left: 32px;
}
.contenidoMenu{
    background-color: rgba(0, 0, 255, 0.356);
    border-radius: 10px;
    width: 200px;
    position: absolute;
    right: 10px;
    transition: all 0s ease;

}
.contenidoMenu ul{
    padding: 60px 0px 20px 0px;
    list-style: none;
}
.contenidoMenu ul li{
    color: white;
    display: block;
    font-size: 30px;
    text-decoration: none;
    padding: 0px 10px;
}
.activo{
    transform: translate(-3000px);
}
.tiendaVenda{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tituloElementosventa{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}
.elementosVenta{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elemento1,.elemento2,.elemento3{
    height: 100%;
    width: 30%;
    border: solid white 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elemento1Datos,.elemento2Datos,.elemento3Datos{
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.356);
    border-radius: 10px;
    padding: 10px;

}
.elemento1Boton,.elemento2Boton,.elemento3Boton{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.footer{
    height: 50px;
    color:white;
    text-align: center;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}
.boton:hover{
    background-color: rgba(71, 170, 71, 0.445);
    transition: 0.5s;
}